@model IEnumerable<DepartmentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>All Department</h1>
<br />
<a asp-action="Create" asp-controller="Department" class="btn btn-primary btn-lg">Create new Department</a>
<br />
<br />
@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(D => D.Code)</th>
                <th>@Html.DisplayNameFor(D => D.Name)</th>
                <th>@Html.DisplayNameFor(D => D.DateOfCreation)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.Code</td>
                    <td>@department.Name</td>
                    <td>@department.DateOfCreation</td>
                    <partial name="_ButtonPartialView" model="@department.Id.ToString()"/>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <p class="m-0 text-danger">There Is No Department!</p>
    </div>
}

